h1{
color: #fbc02d;
text-align:center ;
}
h2{
text-align: center;
color:  rgb(200, 200, 200);
}
h3{
text-align: center;
color: rgb(194, 194, 194);


}
h4{
text-align: center;



}
.sumario{
    color: #fbc02d;
}